In [25]:
import numpy as np
import pandas as pd
import xgboost
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from math import sqrt
from sklearn.metrics import mean_squared_error

In [39]:
data = pd.read_csv('insurance.csv')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [40]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [44]:
X_cat = data.copy()
# print(X_cat) 
X_cat = data.select_dtypes(include=['object'])
X_enc = X_cat.copy()
X_enc

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
5     female     no  southeast
6     female     no  southeast
7     female     no  northwest
8       male     no  northeast
9     female     no  northwest
10      male     no  northeast
11    female    yes  southeast
12      male     no  southwest
13    female     no  southeast
14      male    yes  southeast
15      male     no  southwest
16    female     no  northeast
17      male     no  northeast
18      male     no  southwest
19      male    yes  southwest
20    female     no  northeast
21    female     no  southwest
22      male     no  southeast
23    female    yes  northeast
24      male     no  northwest
25    female     no  southeast
26    female     no  northeast
27    female     no  northwest
28      male     no  northwest
29      male    yes  southwest
...      ...    ...        ...
1308  female    yes  southwest
1309    male     no  southwest
1310    male     no  northwest
1311  female     no  northwest
1312    male     no  southwest
1313  female    yes  southwest
1314  female    yes  northwest
1315    male     no  northeast
1316  female     no  southwest
1317    male     no  southeast
1318    male     no  northeast
1319  female     no  northwest
1320    male     no  northwest
1321    male    yes  northeast
1322    male     no  southeast
1323  female    yes  southeast
1324    male     no  northwest
1325    male     no  northeast
1326  female     no  northeast
1327    male     no  southeast
1328  female     no  northeast
1329    male     no  southwest
1330  female     no  southeast
1331  female     no  southwest
1332  female     no  southwest
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [45]:
#encoding 
# X_enc = pd.get_dummies(X_enc)

In [46]:
X_enc

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
5     female     no  southeast
6     female     no  southeast
7     female     no  northwest
8       male     no  northeast
9     female     no  northwest
10      male     no  northeast
11    female    yes  southeast
12      male     no  southwest
13    female     no  southeast
14      male    yes  southeast
15      male     no  southwest
16    female     no  northeast
17      male     no  northeast
18      male     no  southwest
19      male    yes  southwest
20    female     no  northeast
21    female     no  southwest
22      male     no  southeast
23    female    yes  northeast
24      male     no  northwest
25    female     no  southeast
26    female     no  northeast
27    female     no  northwest
28      male     no  northwest
29      male    yes  southwest
...      ...    ...        ...
1308  female    yes  southwest
1309    male     no  southwest
1310    male     no  northwest
1311  female     no  northwest
1312    male     no  southwest
1313  female    yes  southwest
1314  female    yes  northwest
1315    male     no  northeast
1316  female     no  southwest
1317    male     no  southeast
1318    male     no  northeast
1319  female     no  northwest
1320    male     no  northwest
1321    male    yes  northeast
1322    male     no  southeast
1323  female    yes  southeast
1324    male     no  northwest
1325    male     no  northeast
1326  female     no  northeast
1327    male     no  southeast
1328  female     no  northeast
1329    male     no  southwest
1330  female     no  southeast
1331  female     no  southwest
1332  female     no  southwest
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [47]:
data = data.drop(['sex','smoker','region'],axis=1)

In [48]:
data

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
5      31  25.740         0   3756.62160
6      46  33.440         1   8240.58960
7      37  27.740         3   7281.50560
8      37  29.830         2   6406.41070
9      60  25.840         0  28923.13692
10     25  26.220         0   2721.32080
11     62  26.290         0  27808.72510
12     23  34.400         0   1826.84300
13     56  39.820         0  11090.71780
14     27  42.130         0  39611.75770
15     19  24.600         1   1837.23700
16     52  30.780         1  10797.33620
17     23  23.845         0   2395.17155
18     56  40.300         0  10602.38500
19     30  35.300         0  36837.46700
20     60  36.005         0  13228.84695
21     30  32.400         1   4149.73600
22     18  34.100         0   1137.01100
23     34  31.920         1  37701.87680
24     37  28.025         2   6203.90175
25     59  27.720         3  14001.13380
26     63  23.085         0  14451.83515
27     55  32.775         2  12268.63225
28     23  17.385         1   2775.19215
29     31  36.300         2  38711.00000
...   ...     ...       ...          ...
1308   25  30.200         0  33900.65300
1309   41  32.200         2   6875.96100
1310   42  26.315         1   6940.90985
1311   33  26.695         0   4571.41305
1312   34  42.900         1   4536.25900
1313   19  34.700         2  36397.57600
1314   30  23.655         3  18765.87545
1315   18  28.310         1  11272.33139
1316   19  20.600         0   1731.67700
1317   18  53.130         0   1163.46270
1318   35  39.710         4  19496.71917
1319   39  26.315         2   7201.70085
1320   31  31.065         3   5425.02335
1321   62  26.695         0  28101.33305
1322   62  38.830         0  12981.34570
1323   42  40.370         2  43896.37630
1324   31  25.935         1   4239.89265
1325   61  33.535         0  13143.33665
1326   42  32.870         0   7050.02130
1327   51  30.030         1   9377.90470
1328   23  24.225         2  22395.74424
1329   52  38.600         2  10325.20600
1330   57  25.740         2  12629.16560
1331   23  33.400         0  10795.93733
1332   52  44.700         3  11411.68500
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [49]:
X_enc = X_enc.apply(LabelEncoder().fit_transform)
X_enc

      sex  smoker  region
0       0       1       3
1       1       0       2
2       1       0       2
3       1       0       1
4       1       0       1
5       0       0       2
6       0       0       2
7       0       0       1
8       1       0       0
9       0       0       1
10      1       0       0
11      0       1       2
12      1       0       3
13      0       0       2
14      1       1       2
15      1       0       3
16      0       0       0
17      1       0       0
18      1       0       3
19      1       1       3
20      0       0       0
21      0       0       3
22      1       0       2
23      0       1       0
24      1       0       1
25      0       0       2
26      0       0       0
27      0       0       1
28      1       0       1
29      1       1       3
...   ...     ...     ...
1308    0       1       3
1309    1       0       3
1310    1       0       1
1311    0       0       1
1312    1       0       3
1313    0       1       3
1314    0       1       1
1315    1       0       0
1316    0       0       3
1317    1       0       2
1318    1       0       0
1319    0       0       1
1320    1       0       1
1321    1       1       0
1322    1       0       2
1323    0       1       2
1324    1       0       1
1325    1       0       0
1326    0       0       0
1327    1       0       2
1328    0       0       0
1329    1       0       3
1330    0       0       2
1331    0       0       3
1332    0       0       3
1333    1       0       1
1334    0       0       0
1335    0       0       2
1336    0       0       3
1337    0       1       1

[1338 rows x 3 columns]

In [50]:
data = pd.concat([data,X_enc],axis=1)
data

      age     bmi  children      charges  sex  smoker  region
0      19  27.900         0  16884.92400    0       1       3
1      18  33.770         1   1725.55230    1       0       2
2      28  33.000         3   4449.46200    1       0       2
3      33  22.705         0  21984.47061    1       0       1
4      32  28.880         0   3866.85520    1       0       1
5      31  25.740         0   3756.62160    0       0       2
6      46  33.440         1   8240.58960    0       0       2
7      37  27.740         3   7281.50560    0       0       1
8      37  29.830         2   6406.41070    1       0       0
9      60  25.840         0  28923.13692    0       0       1
10     25  26.220         0   2721.32080    1       0       0
11     62  26.290         0  27808.72510    0       1       2
12     23  34.400         0   1826.84300    1       0       3
13     56  39.820         0  11090.71780    0       0       2
14     27  42.130         0  39611.75770    1       1       2
15     19  24.600         1   1837.23700    1       0       3
16     52  30.780         1  10797.33620    0       0       0
17     23  23.845         0   2395.17155    1       0       0
18     56  40.300         0  10602.38500    1       0       3
19     30  35.300         0  36837.46700    1       1       3
20     60  36.005         0  13228.84695    0       0       0
21     30  32.400         1   4149.73600    0       0       3
22     18  34.100         0   1137.01100    1       0       2
23     34  31.920         1  37701.87680    0       1       0
24     37  28.025         2   6203.90175    1       0       1
25     59  27.720         3  14001.13380    0       0       2
26     63  23.085         0  14451.83515    0       0       0
27     55  32.775         2  12268.63225    0       0       1
28     23  17.385         1   2775.19215    1       0       1
29     31  36.300         2  38711.00000    1       1       3
...   ...     ...       ...          ...  ...     ...     ...
1308   25  30.200         0  33900.65300    0       1       3
1309   41  32.200         2   6875.96100    1       0       3
1310   42  26.315         1   6940.90985    1       0       1
1311   33  26.695         0   4571.41305    0       0       1
1312   34  42.900         1   4536.25900    1       0       3
1313   19  34.700         2  36397.57600    0       1       3
1314   30  23.655         3  18765.87545    0       1       1
1315   18  28.310         1  11272.33139    1       0       0
1316   19  20.600         0   1731.67700    0       0       3
1317   18  53.130         0   1163.46270    1       0       2
1318   35  39.710         4  19496.71917    1       0       0
1319   39  26.315         2   7201.70085    0       0       1
1320   31  31.065         3   5425.02335    1       0       1
1321   62  26.695         0  28101.33305    1       1       0
1322   62  38.830         0  12981.34570    1       0       2
1323   42  40.370         2  43896.37630    0       1       2
1324   31  25.935         1   4239.89265    1       0       1
1325   61  33.535         0  13143.33665    1       0       0
1326   42  32.870         0   7050.02130    0       0       0
1327   51  30.030         1   9377.90470    1       0       2
1328   23  24.225         2  22395.74424    0       0       0
1329   52  38.600         2  10325.20600    1       0       3
1330   57  25.740         2  12629.16560    0       0       2
1331   23  33.400         0  10795.93733    0       0       3
1332   52  44.700         3  11411.68500    0       0       3
1333   50  30.970         3  10600.54830    1       0       1
1334   18  31.920         0   2205.98080    0       0       0
1335   18  36.850         0   1629.83350    0       0       2
1336   21  25.800         0   2007.94500    0       0       3
1337   61  29.070         0  29141.36030    0       1       1

[1338 rows x 7 columns]

In [51]:
y = data['charges'].astype('int')
x = data.drop(['charges'],axis=1)

In [52]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3)

In [53]:
clf = xgboost.XGBRegressor()
clf.fit(X_train,Y_train)
y_testpred = clf.predict(X_test)

In [54]:
rms = sqrt(mean_squared_error(Y_test,y_testpred))
print('RMSE: ',rms)

RMSE:  4881.131480490793

In [ ]:
#4796 - both
#5475 - one hot
# 4881 - label